auto-complete {
  div {
    &.form-group {
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 0px;
    }

    &.list-group {
      padding-left: 10px;
      padding-right: 10px ;

      a {
        &.list-group-item:hover{
          background-color: #ffffff;
          cursor: pointer;
        }

        &.list-group-item.active{
          background-color: #337ab7;
          border-color: #337ab7;
        }
      }
    }
  }

  #autoCompleteForm {
    margin-bottom: 10px;
  }
}