<form id="autoCompleteForm" autocomplete="off">
    <div class="form-group">
        <label for="addCard">{{label}}</label>
        <input name="addCardForm"
               ng-model="dataService.addedCard"
               ng-disabled="!data"
               type="text"
               class="form-control"
               id="addCard"
               ng-blur="onBlur()">
    </div>
    <div class="list-group" ng-if="showResults">
        <a ng-repeat="result in resultToShow"
           type="button"
           class="list-group-item"
           ng-mousedown="selectItem($index)"
           ng-class="{'active': avtiveItemIndex === $index}"
           ng-mouseover="setActiveItem($index)">
        {{result}}</a>
        <a class="list-group-item" ng-if="resultToShow.length === 0">Can't find your card? Tell us about it</a>
    </div>
</form>