div.app-container {
    min-width: 400px;
    display: inline-block;
}

div.nav-bar-container ul {
    padding-left: 0;
    padding-right: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
    margin-bottom: 10px;
}

ul li.col-xs-4 {
    float: left;
    display: inline;
    padding-left: 0;
    padding-right: 0;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none!important;
}

li a:active {
    background-color: darkgreen;
}

li a:focus {
    outline: none;
}

li a:hover {
    background-color: darkgreen;
    color: white;
}

#toast-container > div {
    opacity: 1!important;
}

a.nav-bar-item-activated {
    background-color: darkgreen;
    color: white;
}