<div class="my-card">
    <div class="my-card-container" ng-repeat="card in dataService.cards">
        <img class="card-image" src="{{::card.card_img}}">
        <h5 ng-click="openNewTab(card.card_url)">
            {{::card.card_name}}
        </h5>
    </div>

    <!--TODO add animation when hover over the div, plus icon become larger and background blur-->
    <div class="my-card-container">
        <div class="add-card-container" ng-click="toggleEditMode()">
            <img class="add-card-image" src="../../../images/plusSign.png">
            <h5>Add</h5>
        </div>
    </div>

    <div class="auto-complete-container" ng-if="editMode" >
        <auto-complete data="dataService.allCards" label="Please enter your card name"></auto-complete>
        <div class="button-container">
            <button type="button" ng-click="addCard()" class="btn btn-primary">Submit</button>
            <button type="button" ng-click="toggleEditMode()" class="btn btn-danger">Cancel</button>
        </div>
    </div>
</div>