div.my-card {
    margin-top: 20px;
}

div.my-card-container {
    display: inline-block;
    width: 33%;
    text-align: center;
    min-height: 100px;
    float: left;
    position: relative;
}

div.my-card-container .image-container{
    width: 80px;
    margin: auto;
}

div.my-card-container p {
    position: absolute;
    left: 45px;
    top: 15px;
    color: red;
}

div.my-card-container p:hover {
    cursor: pointer;
}

div.my-card-container img.halfOpacity{
    opacity: 0.5;
}

div.my-card-container h5:hover{
    color: deepskyblue;
    cursor: pointer;
}

div.my-card-container img.card-image {
    width: 80px;
    height: 50px;
    margin: auto;
    display: block;
}

div.add-card-container img{
    width: 20px;
    height: 20px;
    margin-top: 8px;
}

div.add-card-container {
    width: 80px;
    height: 50px;
    margin: auto;
    display: block;
    background-color: lightgrey;
    border-radius: 3px;
}

div.add-card-container:hover{
    cursor: pointer;
}

div.add-card-container h5{
    margin-top: 3px;
}

div.add-card-container h5:hover{
    color: black;
    cursor: default;
}

div.auto-complete-container {
    clear: both;
}

div.button-container {
    padding: 0 10px 10px 10px;
}