div.my-card {
    margin-top: 20px;
}

div.my-card-container {
    display: inline-block;
    width: 33%;
    text-align: center;
    min-height: 100px;
    float: left;
}

div.my-card-container h5:hover{
    color: deepskyblue;
    cursor: pointer;
}

div.my-card-container img.card-image {
    width: 80px;
    height: 50px;
    margin: auto;
    display: block;
}

div.add-card-container img{
    width: 20px;
    height: 20px;
    margin-top: 8px;
}

div.add-card-container {
    width: 80px;
    height: 50px;
    margin: auto;
    display: block;
    background-color: lightgrey;
    border-radius: 3px;
}

div.add-card-container:hover{
    cursor: pointer;
}

div.add-card-container h5{
    margin-top: 3px;
}

div.add-card-container h5:hover{
    color: black;
    cursor: default;
}

div.auto-complete-container {
    clear: both;
}