<ul class="list-group">
    <li class="list-group-item" ng-repeat="card in dataService.cards">
        <div class="media">
            <div class="media-left">
                <img class="media-object card-image" src="{{::card.card_img}}" alt="...">
            </div>
            <div class="media-body">
                <h4 ng-click="openTab(card.card_url)" class="media-heading card-url-link">{{::card.card_name}}</h4>
                <div>
                    <ul class="rewards-desc">
                        <li ng-repeat="reward in card.rewards_desc">{{reward}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
</ul>