my-card {
  .my-card {
    margin-top: 20px;
  }

  .my-card-container {
    display: inline-block;
    width: 33%;
    text-align: center;
    min-height: 100px;
    float: left;
    position: relative;

    .image-container{
      width: 80px;
      margin: auto;
    }

    p {
      position: absolute;
      left: 96px;
      top: -7px;
      color: red;
      font-size: 18px;
      background-color: white;
      border-radius: 50%;

      &:hover {
        cursor: pointer;
      }
    }

    img {
      &.halfOpacity{
        opacity: 0.5;
      }

      &.card-image {
        width: 80px;
        height: 50px;
        margin: auto;
        display: block;
      }
    }

    h5 {
      &:hover{
        color: deepskyblue;
        cursor: pointer;
      }
    }
  }

  .add-card-container {
    width: 80px;
    height: 50px;
    margin: auto;
    display: block;
    background-color: lightgrey;
    border-radius: 3px;

    &:hover{
      cursor: pointer;
    }

    h5 {
      margin-top: 3px;
      &:hover{
        color: black;
        cursor: default;
      }
    }

    img{
      width: 20px;
      height: 20px;
      margin-top: 8px;
    }
  }

  .auto-complete-container {
    clear: both;
  }

  .button-container {
    padding: 0 10px 10px 10px;
  }

  .duplicate-card-error {
    font-size: 10px;
    color: red;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: -7px;
  }
}