img.card-image {
    width: 130px;
}

h4.card-url-link:hover {
    color: deepskyblue;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

ul.rewards-desc {
    background-color: transparent;
    list-style-type: disc;
    padding-left: 20px;
}

ul.rewards-desc li {
    display: list-item;
    margin-bottom: 5px;
}

div.no-card-container {
    margin-left: 26px;
    margin-top: 20px;
}

div.no-card-container span.glyphicon{
    font-size: 20px;
    margin-right: 5px;
}

div.no-card-container span{
    font-size: 15px;
    vertical-align: middle;
}